@import "tailwindcss";

@theme {
  --color-background: #ffffff;
  --color-panel: #f8fafc;
  --color-accent: #008080;
  --color-accent-hover: #006666;
  --color-text-primary: #1e293b;
  --color-text-secondary: #64748b;
}

:root {
  background-color: var(--color-background);
  color: var(--color-text-primary);
  font-family: 'Inter', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #f8fafc;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #e2e8f0;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-accent);
}
